#tags {
  position: relative;
  padding: 5px;
  margin-top: 20px;
  padding-top: 25px;
  background: url(data:image/gif;base64,R0lGODlhAgACAIAAAP///8nJySH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0MjhCMDc2ODA2RDgxMUUyQTMzM0ExMUI2QUUxMTc4NyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0MjhCMDc2OTA2RDgxMUUyQTMzM0ExMUI2QUUxMTc4NyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQyOEIwNzY2MDZEODExRTJBMzMzQTExQjZBRTExNzg3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQyOEIwNzY3MDZEODExRTJBMzMzQTExQjZBRTExNzg3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAAAIAAgAAAgNMAAUAOw==) repeat-x center top;
}
.title {
  position: absolute;
  top: -15px;
  border: 1px solid rgba(201, 201, 201, 1.00);
  border-radius: 5px;
  background-color: rgba(233, 234, 237, 1.00);
  /*margin: auto;*/
  right: 50%;
  display: inline-block;
  width: 200px;
  left: 350px;
  padding: 5px;
  overflow: hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}
#tags table {
  margin: auto; 
  border-collapse: separate;
}
#tags table thead tr {
}
#tags table thead tr th {
  padding: 5px 10px;
  background-color: rgba(202, 226, 227, 1.00);
  border: 1px solid rgba(91, 192, 222, 1.00);
}
#tags table thead tr th:first-child {
  border-top-left-radius: 3px;
  text-align: right;
  width: 200px;

}
#tags table thead tr th:last-child {
  border-top-right-radius: 3px;
  text-align: left;
  width: 550px;
}
#tags table thead tr th + th {
  border-left: 0;
}
#tags table tbody tr {
}
#tags table tbody tr:hover td {
  background-color: rgba(202, 226, 227, 1.00);

}
#tags table tbody tr td {
  padding: 15px;

  background-color: rgba(212, 236, 237, 1.00);
  border: 1px solid rgba(91, 192, 222, 1.00);
}
#tags table tbody tr td {
  border-top: 0;
}
#tags table tbody tr td:first-child {
  text-align: right;
  width: 200px;
}
#tags table tbody tr td:last-child {
  text-align: left;
  width: 550px;
}
#tags table tbody tr td + td {
  border-left: 0;
}
#tags table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
  text-align: right;
}
#tags table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
  text-align: left;
}
.no-data {
  border: 1px solid rgba(249, 204, 157, 1.00);
  width: 300px;
  margin: auto;
  border-radius: 4px;
  background-color: rgba(255, 238, 188, 1.00);
  padding: 5px;
}
.main_tag {
  margin: 7px;
  display: inline-block;
  max-width: 150px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  background-color: #E9EAED;

  border: 1px solid #999;
  border-radius: 5px 0 5px 0;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
   -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);

}
.main_tag.active {
  background-color: rgba(103, 104, 107, 1.00);
  color: #fff;
}
.main_tag .name {
  overflow: hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}

.main_tag:hover {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
     -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.main_tag .id {
  display: inline-block;
  padding: 0 2px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 3px;
  font-weight: bolder;
  border: 1px solid rgba(127, 10, 10, 1.00);
  background-color: #fff;

  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
     -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);

  color: rgba(127, 10, 10, 1.00);
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
     -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
          text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);

  cursor: pointer;
}
.tag {
  margin: 7px;
  display: inline-block;
  max-width: 150px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  background-color: #E9EAED;

  border: 1px solid #999;
  border-radius: 5px 0 5px 0;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
   -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);

}
.tag.active {
  background-color: rgba(103, 104, 107, 1.00);
  color: #fff;
}
.tag .name {
  overflow: hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}

.tag:hover {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
     -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.tag .id {
  display: inline-block;
  padding: 0 2px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 3px;
  font-weight: bolder;
  border: 1px solid rgba(127, 10, 10, 1.00);
  background-color: #fff;

  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
     -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);

  color: rgba(127, 10, 10, 1.00);
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
     -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
          text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);

  cursor: pointer;
}