@import "_oa";

html {
  body {
    #main_page {
      #left_panel {
        height: 100%;
        @include box-shadow(inset -1px 0 10px rgba(0, 0, 0, 0.3));

        background: rgba(88, 87, 82, 1.00);
        padding-top: 10px;

        .ui-panel-inner {
          padding: 0;  
          height: 100%;

          .user {
            height: 50px;
            padding: 0;
            padding: 2px;

            .avatar {
              float: left;
              margin-top: 2px;
              display: inline-block;
              width: 40px;
              height: 40px;
              overflow: hidden;
              border: 2px solid rgba(235, 235, 235, 1.00);
              background-color: #fff;

              @include border-radius(50%);
              @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6));
            }
            .info {
              float: left;

              display: inline-block;
              width: 200px;
              margin-left: 10px;
              vertical-align: middle;
              font-size: 18px;
              color: rgba(249, 249, 249, 1.00);
              margin-top: 4px;

              @include overflow-docx3;
              @include text-shadow(1px 1px 2px rgba(0, 0, 0, 1));
            }
            .info + .info {
              margin-top: 0;
              font-size: 13px;
              color: rgba(208, 210, 214, 1.00);
            }
          }
          .separate {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            height: 2px;
            margin: 0 4px;

            @include box-shadow(inset 0 2px 5px rgba(0, 0, 0, 0.1));
          }
          ul {
            padding: 0;  
            margin: 0;  
            list-style: none;
            position: relative;
            overflow: hidden;

            li {
              position: relative;
              left: 3px;
              margin-left: 5px;
              margin-bottom: 2px;
              border: 1px solid transparent;

              a {  
                text-decoration: none;
                padding: 15px;
                display: block; 
                width: 100%; 
                color: rgba(30, 30, 30, 1.00);
                font-size: 18px;

                @include text-shadow(1px 1px 1px rgba(255, 255, 255, 0.1));
                @include overflow-docx3;

                span {
                  font-size: 22px;
                  display: inline-block;
                  font-weight: normal;
                }
              }
            }
            .active {
              background-color: rgba(68, 67, 62, 1.00);
              border: 1px solid rgba(255, 255, 255, 0.2);

              @include text-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
              @include border-radius(3px);
              @include box-shadow(inset 1px 1px 5px rgba(0, 0, 0, 0.3));

              a {
                color: rgba(218, 220, 224, 1.00);
                font-weight: bold;

                @include text-shadow(1px 1px 2px rgba(0, 0, 0, 1));
              }
            }
          }
        }
      }

      #header {
        top: 0;
        left: 0;
        margin: 0 auto;
        overflow: visible;

        background: rgba(73, 73, 73, 1.00);
        color: #edeff4!important;
        border: 0;
        padding: 0;

        text-align: center!important;

         @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.5));

        .padding {
          width: 100%;
          height: 100%;
          position: relative;
          padding: 12px 10px;

          a {
            .avatar {
              display: inline-block;
              position: absolute;
              bottom: -20px;
              width: 50px;
              height: 50px;
              left: 15px;

              overflow: hidden;
              border: 2px solid rgba(235, 235, 235, 1.00);
              background-color: #fff;

              -webkit-animation: shining 2s infinite ease-in-out;
              @include border-radius(50%);
            }
            .icon-cog2 {
              position: absolute;
              display: inline-block;
              right: 15px;
              font-size: 18px;
              font-weight: normal;
              color: rgba(233, 234, 237, 1.00);
            }
          }
        }
      }
      .ui-panel-wrapper {
        #main_content {
          padding: 0;
          margin-top: 20px;

          #pictures {
            padding: 5px 10px;
            border: 1px solid red;

            .picture {
              display: inline-block;

              margin: 0 auto 20px auto;
              position: relative;
              width: 240px;

              background-color: rgba(255, 255, 255, 1.00);
              overflow: hidden;

              border: 1px solid rgba(175, 175, 175, 1.00);

              @include border-radius(3px);
              @include box-shadow(0 0 3px 5px rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.175));
            }
          }

          // $maxColumns: 4;
          // $gridsWidth: 340px;
          // @for $i from 1 through $maxColumns {
          //     @media only screen and (min-width : $gridsWidth * $i) {
          //         #pictures {
          //             width: ($gridsWidth + 1) * $i;
          //         }

          //     }
          // }
        }
      }
    }
  }
}


.ui-body-loading {
  .ui-icon-loading {
    background: transparent url(data:image/gif;base64,R0lGODlhIAAgAMQYAFJvp3mOup6sy+Dl7vHz+OXp8fT2+WV+sOjr8oiawae10OPn74mbwaKxzrrF2+zv9ens8/L0+O/y99DX5sDJ3a+71e/y9vf5+////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCAAYACwAAAAAIAAgAAAFlCAmjmRpnmiqrmzrvnAsz6JBWLhFGKSd67yRL7cjXI5IAsmIPCpHzOatebSQLNSLdYSl4rJbUbcZxoyRX+8VvPaeq21yHP3WzuFccL28v2v7eWqBZIBibIN0h4aCi4SKZo97hZCMlI6Vk5KRm26ccohVmZ6JmKNVUUlLWU8iqE5DODs9N0RBNbSxtjS7vL2+v8DBGCEAIfkEBQgAGAAsAAAFAAgAFgAABR+gQVikRYhXqo5Y61puLM90bd94ru88Dssm1UpUMhlCACH5BAkIABgALAAAAAAUACAAAAV0IHMAJHAwWKqu6VG98MHOGADDAM3ad5XrKt7tB6z1fCsDwcK0EAxC3IpwqVoJ0RcRY5lZssiisbfVgcu0s3g8XKvF72IcODcf0bN6+u7mw/1ygHSCdmQrXSxfglRWVViCSk1OUIR7hn+XRS49MmIiJSYoYiEAIfkECQgAGAAsAAAAACAAIAAABcsgJo6kyBxAChxM6WJNEsxB0pBHpe/HWyaUoDBBAux2AB8pIBQGikddUiliNinPkTE6pVqbWdH22MUYCJa0hWD4OqFcEuFCrxPcwTBmjCRZXBZ4WHBkVFVXg1pRFWU+gnp8UoYYj4R9hpWKcZiIkIuNL5lin5Oie6ScV56bXp2Wkqlgr4ylrpqFsW+3l62qs6AuppG0uXm/tb67sCJ/JYG2o6wYc3V0d9Cn0mdqa23Yw8AlwqhUQFdEysRUMTQ1NyM5UT2ThicqKy2GIQAh+QQJCAAYACwAAAAAIAAgAAAF5CAmjmRpjswBrMDBnGWTBHSQNORR7fwBkwmKcJggAXg8gEMhaAoUDlJgOAwYkTuAYsLtKqRUoXV0xAIE3a4AHB6LyshzmrseTdtXM3peF92pbhhwSXtpfRh/VXlxhWpsgIuEcxOHiWKRWY10j4pkWBVyfJyXnnqTlWEUgYOZp6OqmKCalK+rn6GGtbG4jnaptqaivniljK7DkMWSwn6/u7OoxG+30LrKrcyIzteyx83SgtTe2uCs3dmWsNxak1/IndNmS05PUe+k8XE/I0FhRev7RMioYQPHCB1YfARcmIJFCwYhAAAh+QQJCAAYACwAAAAAIAAgAAAF1iAmjmRpnmiqYk0SvEHSrDSWUHie0I4i/AKFgxTI5QI0xWTJVBCNuABkMagOFhCSgMkUPKGBhWRMXmi5S++oCB6QyYMzWi1iGwPutyQ+2s6/d3lvfCJ+XHQYdkeCcHKHgIt6e45dkFGMY4QYhpVrUBR4kpqcaZagmJN9aBOIipeilKWebbCqf7OBtYWrrZ+heqO8pr+DsazDqMG3db7Jxr20wM/IupvCuJHSto/YUWJ6ZtudzGBTVldZ4rLkd0mrTt2gPD5AQsM1KzdQO/gpLTAxZvQbGAIAIfkECQgAGAAsAAAAACAAIAAABc0gJo5kaZ5oqq5s676OIsyC4rypMu28wkKLgXCwgJAEPJ7ggSg4C4gHaSGpWhfH5E6AiHi/CNLAah1ktYLC91sQk6vmERKtXkfao/E7Lpon03Z3bntnf3VreCJ6ZHwYfkqHbIOMhZCBiRiLZZVbkV6YmnCcE4B2oG8SjY+dl5ObclqknoJ5qKqxpYiuorB0rbWEvYa/irajuZLAlMKWprupx7OnwX24XXZhyq/VaExPUFIjVG9YzFs/QUNFxzgoOlo+7SYxNDU38vj5+u0hACH5BAkIABgALAAAAAAgACAAAAXIICaOZGmeaKqubOu+cCy30DLcwwIZhOVbBAPpgSgYC4gHaSFpOheEi3RKICEi2CyCNHA6B5bp1EIqZLMFrrcJFkvJI/M5kh511203XCQ/10V3Xnliexh9aGp4YXplc3SJgouEjXN/GIFfkmOUfpCZbheFh1iWmGyab5yIdmsSg5txjqWtr6mxlZ6noKKyua6ooaqkvrXBt52sirvCj8mRy8ergLRRblUjV3Nbzl88P0BCI0RHSEojTGsLMyU1ODkQ6/Hy8/T19SEAIfkEBQgAGAAsAAAAACAAIAAABbAgJo5kaZ5oqq5s675wLM+iQVi4RRikneu80QNRKBYQD8JlySSQlMylc4SIWK8IS3RpIWm33VHhei18o2HRmZnGjMkR8/bSXnNJb7Ic7J2382V2dH18YnBxgnV+eId7aISPhnCObJCVknqJlneYgYsjmp1WlJxqnyKAo6GmhaiNqxiwqYinsbWzpIOgt6+1so1QUVMiwU0kVXAIPjk7PTfMQSJDRkcPNNfY2drb3N0kIQAh+QQFFAAYACwYAAYACAAUAAAFKKBBWKRFiFeqjqpKtukLyy3tWvBlx/jc179bbqcL8obG4pCQO41KpxAAOw==) no-repeat center center;
  }
}

.size-1of1 { width: 100%; }
.size-1of2 { 
  display: inline-block;
  width: 50%; }
.size-1of3 { width: 33.3333%; }
.size-1of4 { width: 25%; }

#pictures {
        width: 800px;
        padding: 0;
    }
#pictures[data-columns]::before {
    content: '2 .column.size-1of2';
}

@include keyframes(shining) {
    0% { @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.0), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   10% { @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   20% { @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   30% { @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   40% { @include box-shadow(0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   50% { @include box-shadow(0 0 6px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   60% { @include box-shadow(0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   70% { @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   80% { @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
   90% { @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
  100% { @include box-shadow(0 0 5px 3px rgba(0, 0, 0, 0.0), inset 2px 2px 5px rgba(0, 0, 0, 0.6)); }
}