/* line 6, frame.scss */
html body #main_page #left_panel {
  height: 100%;
  -moz-box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.3);
  background: #585752;
  padding-top: 10px;
}
/* line 13, frame.scss */
html body #main_page #left_panel .ui-panel-inner {
  padding: 0;
  height: 100%;
}
/* line 17, frame.scss */
html body #main_page #left_panel .ui-panel-inner .user {
  height: 50px;
  padding: 0;
  padding: 2px;
}
/* line 22, frame.scss */
html body #main_page #left_panel .ui-panel-inner .user .avatar {
  float: left;
  margin-top: 2px;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 2px solid #ebebeb;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
}
/* line 35, frame.scss */
html body #main_page #left_panel .ui-panel-inner .user .info {
  float: left;
  display: inline-block;
  width: 200px;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 18px;
  color: #f9f9f9;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: 1px 1px 2px black;
}
/* line 49, frame.scss */
html body #main_page #left_panel .ui-panel-inner .user .info + .info {
  margin-top: 0;
  font-size: 13px;
  color: #d0d2d6;
}
/* line 55, frame.scss */
html body #main_page #left_panel .ui-panel-inner .separate {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 2px;
  margin: 0 4px;
  -moz-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* line 62, frame.scss */
html body #main_page #left_panel .ui-panel-inner ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  overflow: hidden;
}
/* line 69, frame.scss */
html body #main_page #left_panel .ui-panel-inner ul li {
  position: relative;
  left: 3px;
  margin-left: 5px;
  margin-bottom: 2px;
  border: 1px solid transparent;
}
/* line 76, frame.scss */
html body #main_page #left_panel .ui-panel-inner ul li a {
  text-decoration: none;
  padding: 15px;
  display: block;
  width: 100%;
  color: #1e1e1e;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 87, frame.scss */
html body #main_page #left_panel .ui-panel-inner ul li a span {
  font-size: 22px;
  display: inline-block;
  font-weight: normal;
}
/* line 94, frame.scss */
html body #main_page #left_panel .ui-panel-inner ul .active {
  background-color: #44433e;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
/* line 102, frame.scss */
html body #main_page #left_panel .ui-panel-inner ul .active a {
  color: #dadce0;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
/* line 113, frame.scss */
html body #main_page #header {
  top: 0;
  left: 0;
  margin: 0 auto;
  overflow: visible;
  background: #494949;
  color: #edeff4 !important;
  border: 0;
  padding: 0;
  text-align: center !important;
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
/* line 128, frame.scss */
html body #main_page #header .padding {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 12px 10px;
}
/* line 135, frame.scss */
html body #main_page #header .padding a .avatar {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  width: 50px;
  height: 50px;
  left: 15px;
  overflow: hidden;
  border: 2px solid #ebebeb;
  background-color: #fff;
  -webkit-animation: shining 2s infinite ease-in-out;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 150, frame.scss */
html body #main_page #header .padding a .icon-cog2 {
  position: absolute;
  display: inline-block;
  right: 15px;
  font-size: 18px;
  font-weight: normal;
  color: #e9eaed;
}
/* line 162, frame.scss */
html body #main_page .ui-panel-wrapper #main_content {
  padding: 0;
  margin-top: 20px;
}
/* line 166, frame.scss */
html body #main_page .ui-panel-wrapper #main_content #pictures {
  padding: 5px 10px;
  border: 1px solid red;
}
/* line 170, frame.scss */
html body #main_page .ui-panel-wrapper #main_content #pictures .picture {
  display: inline-block;
  margin: 0 auto 20px auto;
  position: relative;
  width: 240px;
  background-color: white;
  overflow: hidden;
  border: 1px solid #afafaf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.175);
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.175);
}

/* line 205, frame.scss */
.ui-body-loading .ui-icon-loading {
  background: transparent url(data:image/gif;base64,R0lGODlhIAAgAMQYAFJvp3mOup6sy+Dl7vHz+OXp8fT2+WV+sOjr8oiawae10OPn74mbwaKxzrrF2+zv9ens8/L0+O/y99DX5sDJ3a+71e/y9vf5+////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCAAYACwAAAAAIAAgAAAFlCAmjmRpnmiqrmzrvnAsz6JBWLhFGKSd67yRL7cjXI5IAsmIPCpHzOatebSQLNSLdYSl4rJbUbcZxoyRX+8VvPaeq21yHP3WzuFccL28v2v7eWqBZIBibIN0h4aCi4SKZo97hZCMlI6Vk5KRm26ccohVmZ6JmKNVUUlLWU8iqE5DODs9N0RBNbSxtjS7vL2+v8DBGCEAIfkEBQgAGAAsAAAFAAgAFgAABR+gQVikRYhXqo5Y61puLM90bd94ru88Dssm1UpUMhlCACH5BAkIABgALAAAAAAUACAAAAV0IHMAJHAwWKqu6VG98MHOGADDAM3ad5XrKt7tB6z1fCsDwcK0EAxC3IpwqVoJ0RcRY5lZssiisbfVgcu0s3g8XKvF72IcODcf0bN6+u7mw/1ygHSCdmQrXSxfglRWVViCSk1OUIR7hn+XRS49MmIiJSYoYiEAIfkECQgAGAAsAAAAACAAIAAABcsgJo6kyBxAChxM6WJNEsxB0pBHpe/HWyaUoDBBAux2AB8pIBQGikddUiliNinPkTE6pVqbWdH22MUYCJa0hWD4OqFcEuFCrxPcwTBmjCRZXBZ4WHBkVFVXg1pRFWU+gnp8UoYYj4R9hpWKcZiIkIuNL5lin5Oie6ScV56bXp2Wkqlgr4ylrpqFsW+3l62qs6AuppG0uXm/tb67sCJ/JYG2o6wYc3V0d9Cn0mdqa23Yw8AlwqhUQFdEysRUMTQ1NyM5UT2ThicqKy2GIQAh+QQJCAAYACwAAAAAIAAgAAAF5CAmjmRpjswBrMDBnGWTBHSQNORR7fwBkwmKcJggAXg8gEMhaAoUDlJgOAwYkTuAYsLtKqRUoXV0xAIE3a4AHB6LyshzmrseTdtXM3peF92pbhhwSXtpfRh/VXlxhWpsgIuEcxOHiWKRWY10j4pkWBVyfJyXnnqTlWEUgYOZp6OqmKCalK+rn6GGtbG4jnaptqaivniljK7DkMWSwn6/u7OoxG+30LrKrcyIzteyx83SgtTe2uCs3dmWsNxak1/IndNmS05PUe+k8XE/I0FhRev7RMioYQPHCB1YfARcmIJFCwYhAAAh+QQJCAAYACwAAAAAIAAgAAAF1iAmjmRpnmiqYk0SvEHSrDSWUHie0I4i/AKFgxTI5QI0xWTJVBCNuABkMagOFhCSgMkUPKGBhWRMXmi5S++oCB6QyYMzWi1iGwPutyQ+2s6/d3lvfCJ+XHQYdkeCcHKHgIt6e45dkFGMY4QYhpVrUBR4kpqcaZagmJN9aBOIipeilKWebbCqf7OBtYWrrZ+heqO8pr+DsazDqMG3db7Jxr20wM/IupvCuJHSto/YUWJ6ZtudzGBTVldZ4rLkd0mrTt2gPD5AQsM1KzdQO/gpLTAxZvQbGAIAIfkECQgAGAAsAAAAACAAIAAABc0gJo5kaZ5oqq5s676OIsyC4rypMu28wkKLgXCwgJAEPJ7ggSg4C4gHaSGpWhfH5E6AiHi/CNLAah1ktYLC91sQk6vmERKtXkfao/E7Lpon03Z3bntnf3VreCJ6ZHwYfkqHbIOMhZCBiRiLZZVbkV6YmnCcE4B2oG8SjY+dl5ObclqknoJ5qKqxpYiuorB0rbWEvYa/irajuZLAlMKWprupx7OnwX24XXZhyq/VaExPUFIjVG9YzFs/QUNFxzgoOlo+7SYxNDU38vj5+u0hACH5BAkIABgALAAAAAAgACAAAAXIICaOZGmeaKqubOu+cCy30DLcwwIZhOVbBAPpgSgYC4gHaSFpOheEi3RKICEi2CyCNHA6B5bp1EIqZLMFrrcJFkvJI/M5kh511203XCQ/10V3Xnliexh9aGp4YXplc3SJgouEjXN/GIFfkmOUfpCZbheFh1iWmGyab5yIdmsSg5txjqWtr6mxlZ6noKKyua6ooaqkvrXBt52sirvCj8mRy8ergLRRblUjV3Nbzl88P0BCI0RHSEojTGsLMyU1ODkQ6/Hy8/T19SEAIfkEBQgAGAAsAAAAACAAIAAABbAgJo5kaZ5oqq5s675wLM+iQVi4RRikneu80QNRKBYQD8JlySSQlMylc4SIWK8IS3RpIWm33VHhei18o2HRmZnGjMkR8/bSXnNJb7Ic7J2382V2dH18YnBxgnV+eId7aISPhnCObJCVknqJlneYgYsjmp1WlJxqnyKAo6GmhaiNqxiwqYinsbWzpIOgt6+1so1QUVMiwU0kVXAIPjk7PTfMQSJDRkcPNNfY2drb3N0kIQAh+QQFFAAYACwYAAYACAAUAAAFKKBBWKRFiFeqjqpKtukLyy3tWvBlx/jc179bbqcL8obG4pCQO41KpxAAOw==) no-repeat center center;
}

/* line 210, frame.scss */
.size-1of1 {
  width: 100%;
}

/* line 211, frame.scss */
.size-1of2 {
  display: inline-block;
  width: 50%;
}

/* line 214, frame.scss */
.size-1of3 {
  width: 33.3333%;
}

/* line 215, frame.scss */
.size-1of4 {
  width: 25%;
}

/* line 217, frame.scss */
#pictures {
  width: 800px;
  padding: 0;
}

/* line 221, frame.scss */
#pictures[data-columns]::before {
  content: '2 .column.size-1of2';
}

@-moz-keyframes shining {
  0% {
    -moz-box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  10% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  20% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  30% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  40% {
    -moz-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  50% {
    -moz-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  60% {
    -moz-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  80% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  90% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    -moz-box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
}
@-webkit-keyframes shining {
  0% {
    -webkit-box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  10% {
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  20% {
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  30% {
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  40% {
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  50% {
    -webkit-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  60% {
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  70% {
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  80% {
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  90% {
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    -webkit-box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
}
@keyframes shining {
  0% {
    -moz-box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  10% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  20% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  30% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  40% {
    -moz-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  50% {
    -moz-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  60% {
    -moz-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  70% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  80% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  90% {
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    -moz-box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px 3px transparent, inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  }
}
