.DS_Store
sftp-config*

application/cell/cache/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php

temp/*
!temp/index.html

upload/*
!upload/index.html

compass/.sass-cache/*
application/views/.module-cache/*
