.DS_Store

application/cell/cell_cache/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php

upload/*
!upload/index.html

temp/*
!temp/index.html
