.DS_Store
sftp-config.json

application/cell/cache/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php

temp/*

upload/*
