
.tag {
  background-color: #aaa;
  border-radius: 5px;

  border: 1px solid #999;
  padding: 0px 4px;
  margin: 2px;
  font-size: 12px;
  background-color: #858cb4;
  color: #fff;
}
.del_items, .add_items{
  text-align: center;
  width: 40px;
}
.pictures {
  position: relative;
  display: inline-block;
  padding: 0px;
  font-size: 0px;
  vertical-align: top;
  margin: 5px;
}
.pictures img {
  max-width: none !important;
}
.delete_imgs {
  position: absolute;
  top: -10px;
  right: -10px;

  background-color: #aaa;
  border-radius: 5px;

  border: 1px solid #999;
  padding: 0px 4px;
  margin: 2px;
  font-size: 12px;
  background-color: #858cb4;
  color: #fff;
  z-index: 9999;
}