@charset "UTF-8";
@font-face {
  font-family: "Blooming Grove";
  src: url(/resource/font/bloominggrove/bgrove.ttf) format('truetype'), url(http://style.ioa.tw/resource/font/bloominggrove/bgrove.otf) format('opentype');
}
@font-face {
  font-family: "Monaco";
  src: url(/resource/font/monaco/monaco.ttf) format('truetype');
}
/* line 6, public.scss */
* {
  vertical-align: top;
}
/* line 53, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::-moz-selection {
  color: #edeff4;
  background-color: #96b4e6;
}
/* line 53, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/css3/_selection.scss */
*::selection {
  color: #edeff4;
  background-color: #96b4e6;
}
/* line 10, public.scss */
*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, public.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}
/* line 20, public.scss */
html body {
  margin: 0;
  height: 100%;
  position: relative;
  overflow-y: visible;
  font: 15px/20px normal Helvetica, Arial, sans-serif;
  color: #000;
  background-color: #e9eaed;
  font-family: "微軟正黑體", Monaco, "Blooming Grove", "lucida grande", tahoma, verdana, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 34, public.scss */
html body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

/* line 47, public.scss */
*.clearfix {
  *zoom: 1;
}
/* line 49, public.scss */
*.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
  clear: both;
}
