.delete_view {
  margin-top: 4px;
  padding: 2px 6px;
  font-size: 8px;
}
.create_view {
  margin-top: 4px;
  padding: 2px 6px;
  font-size: 8px;
}
.tag {
  border-radius: 8px;
  display: inline-block;
  max-width: 90px;
  padding: 2px 6px;
  overflow: hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  background-color: rgba(36, 63, 141, 0.5000);
  border: 1px solid rgba(36, 63, 141, 0.8000);
  -webkit-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
     -moz-text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
          text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}