.trans3d {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform-style:preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  transform-style:preserve-3d;
  transform: translate3d(0, 0, 0);

  /*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;*/
}
#user_banner {
  margin: 20px auto 0px auto;
  position:relative;
  width:100%;
  height:350px;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(42, 42, 42, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
     -moz-box-shadow: 0px 0px 3px 2px rgba(42, 42, 42, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
          box-shadow: 0px 0px 3px 2px rgba(42, 42, 42, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
  border-radius: 2px;

}
.user_banner {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  border-radius: 2px;
  overflow: hidden;
  z-index: -1;
}
.user_banner_img {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.banner_filter {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(42, 42, 42, 0.5);
  background: -webkit-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
     background: -moz-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
       background: -o-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
          background: linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
  
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: -999;
  border-radius: 2px;
}
#contentContainer {
  border-radius: 2px;
  position:relative;
  width:100%;
  height:100%;
  background-color: transparent;
  /*background: -webkit-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
     background: -moz-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
       background: -o-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
          background: linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
  */
  
}
#carouselContainer
{
  position:absolute;
  margin-left:-400px;
  margin-top:-500px;
  left:50%;
  top:50%;
  width:1000px;
  height:1000px;
}

.carouselItem
{
  width:320px;
  height:130px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-160px;
  margin-top:-90px;
  visibility:hidden;
}

.carouselItemInner
{
  width:230px;
  height:230px;
  position:absolute;
  background-color:rgba(255, 255, 255, .75);
  border:1px solid rgba(255, 255, 255, .5);
  color:aqua;
  left:50%;
  top:80px;
  margin-left:-160px;
  margin-top:-100px;
  text-align:center;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
     -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
          box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
  background: url(data:image/gif;base64,R0lGODlhIAAgAMQYAFJvp3mOup6sy+Dl7vHz+OXp8fT2+WV+sOjr8oiawae10OPn74mbwaKxzrrF2+zv9ens8/L0+O/y99DX5sDJ3a+71e/y9vf5+////wAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCAAYACwAAAAAIAAgAAAFlCAmjmRpnmiqrmzrvnAsz6JBWLhFGKSd67yRL7cjXI5IAsmIPCpHzOatebSQLNSLdYSl4rJbUbcZxoyRX+8VvPaeq21yHP3WzuFccL28v2v7eWqBZIBibIN0h4aCi4SKZo97hZCMlI6Vk5KRm26ccohVmZ6JmKNVUUlLWU8iqE5DODs9N0RBNbSxtjS7vL2+v8DBGCEAIfkEBQgAGAAsAAAFAAgAFgAABR+gQVikRYhXqo5Y61puLM90bd94ru88Dssm1UpUMhlCACH5BAkIABgALAAAAAAUACAAAAV0IHMAJHAwWKqu6VG98MHOGADDAM3ad5XrKt7tB6z1fCsDwcK0EAxC3IpwqVoJ0RcRY5lZssiisbfVgcu0s3g8XKvF72IcODcf0bN6+u7mw/1ygHSCdmQrXSxfglRWVViCSk1OUIR7hn+XRS49MmIiJSYoYiEAIfkECQgAGAAsAAAAACAAIAAABcsgJo6kyBxAChxM6WJNEsxB0pBHpe/HWyaUoDBBAux2AB8pIBQGikddUiliNinPkTE6pVqbWdH22MUYCJa0hWD4OqFcEuFCrxPcwTBmjCRZXBZ4WHBkVFVXg1pRFWU+gnp8UoYYj4R9hpWKcZiIkIuNL5lin5Oie6ScV56bXp2Wkqlgr4ylrpqFsW+3l62qs6AuppG0uXm/tb67sCJ/JYG2o6wYc3V0d9Cn0mdqa23Yw8AlwqhUQFdEysRUMTQ1NyM5UT2ThicqKy2GIQAh+QQJCAAYACwAAAAAIAAgAAAF5CAmjmRpjswBrMDBnGWTBHSQNORR7fwBkwmKcJggAXg8gEMhaAoUDlJgOAwYkTuAYsLtKqRUoXV0xAIE3a4AHB6LyshzmrseTdtXM3peF92pbhhwSXtpfRh/VXlxhWpsgIuEcxOHiWKRWY10j4pkWBVyfJyXnnqTlWEUgYOZp6OqmKCalK+rn6GGtbG4jnaptqaivniljK7DkMWSwn6/u7OoxG+30LrKrcyIzteyx83SgtTe2uCs3dmWsNxak1/IndNmS05PUe+k8XE/I0FhRev7RMioYQPHCB1YfARcmIJFCwYhAAAh+QQJCAAYACwAAAAAIAAgAAAF1iAmjmRpnmiqYk0SvEHSrDSWUHie0I4i/AKFgxTI5QI0xWTJVBCNuABkMagOFhCSgMkUPKGBhWRMXmi5S++oCB6QyYMzWi1iGwPutyQ+2s6/d3lvfCJ+XHQYdkeCcHKHgIt6e45dkFGMY4QYhpVrUBR4kpqcaZagmJN9aBOIipeilKWebbCqf7OBtYWrrZ+heqO8pr+DsazDqMG3db7Jxr20wM/IupvCuJHSto/YUWJ6ZtudzGBTVldZ4rLkd0mrTt2gPD5AQsM1KzdQO/gpLTAxZvQbGAIAIfkECQgAGAAsAAAAACAAIAAABc0gJo5kaZ5oqq5s676OIsyC4rypMu28wkKLgXCwgJAEPJ7ggSg4C4gHaSGpWhfH5E6AiHi/CNLAah1ktYLC91sQk6vmERKtXkfao/E7Lpon03Z3bntnf3VreCJ6ZHwYfkqHbIOMhZCBiRiLZZVbkV6YmnCcE4B2oG8SjY+dl5ObclqknoJ5qKqxpYiuorB0rbWEvYa/irajuZLAlMKWprupx7OnwX24XXZhyq/VaExPUFIjVG9YzFs/QUNFxzgoOlo+7SYxNDU38vj5+u0hACH5BAkIABgALAAAAAAgACAAAAXIICaOZGmeaKqubOu+cCy30DLcwwIZhOVbBAPpgSgYC4gHaSFpOheEi3RKICEi2CyCNHA6B5bp1EIqZLMFrrcJFkvJI/M5kh511203XCQ/10V3Xnliexh9aGp4YXplc3SJgouEjXN/GIFfkmOUfpCZbheFh1iWmGyab5yIdmsSg5txjqWtr6mxlZ6noKKyua6ooaqkvrXBt52sirvCj8mRy8ergLRRblUjV3Nbzl88P0BCI0RHSEojTGsLMyU1ODkQ6/Hy8/T19SEAIfkEBQgAGAAsAAAAACAAIAAABbAgJo5kaZ5oqq5s675wLM+iQVi4RRikneu80QNRKBYQD8JlySSQlMylc4SIWK8IS3RpIWm33VHhei18o2HRmZnGjMkR8/bSXnNJb7Ic7J2382V2dH18YnBxgnV+eId7aISPhnCObJCVknqJlneYgYsjmp1WlJxqnyKAo6GmhaiNqxiwqYinsbWzpIOgt6+1so1QUVMiwU0kVXAIPjk7PTfMQSJDRkcPNNfY2drb3N0kIQAh+QQFFAAYACwYAAYACAAUAAAFKKBBWKRFiFeqjqpKtukLyy3tWvBlx/jc179bbqcL8obG4pCQO41KpxAAOw==) no-repeat center center;
}
#user_avatar {
  position:absolute;
  bottom: -45px;
  left: 70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  border-radius: 50%;
  border: 2px solid rgba(235, 235, 235, 1.00);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  z-index: 9;
}
#user_avatar:hover {
  -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
}
#user_score {
  position:absolute;
  bottom: 125px;
  left: -5px;
  width: 110px;
  height: 90px;
  background-color: #fff;
  /*border: 1px solid red;*/
  border-radius: 0px 5px 5px 0px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.6), inset 0px 0px 40px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.6), inset 0px 0px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.6), inset 0px 0px 40px rgba(0, 0, 0, 0.3);

  -webkit-transition: 200ms ease-in;
     -moz-transition: 200ms ease-in;
       -o-transition: 200ms ease-in;
          transition: 200ms ease-in;

  padding: 4px;
}
#user_score:hover {
  width: 260px;
  height: auto;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.6), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.6), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.6), inset 0px 0px 40px rgba(0, 0, 0, 0.1);
  -webkit-transition: 200ms ease-in;
     -moz-transition: 200ms ease-in;
       -o-transition: 200ms ease-in;
          transition: 200ms ease-in;
}
.user_score_area {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  text-align: left;
  vertical-align: top;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0px;
  /*
  color: rgb(78, 86, 101);
  direction: ltr;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 41px;*/
}
.user_score_area .big_score {
  position: relative;
  /*border: 1px solid red;*/
  display: inline-block;
  width: 100px;
  height: 100%;
  /*line-height: 60px;*/
  padding: 5px;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  color: rgb(78, 86, 101);
  vertical-align: top;
}

.user_score_area .big_score .score {
  vertical-align: top;
  text-align: center;
  direction: ltr;
  font-size: 41px;
  border: 1px solid transparent;
  height: 45px;
  line-height: 43px;
  width: 100%;

}
.user_score_area .big_score .big_score_info {
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 25px;
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  color: rgb(58, 66, 81);
  border-top: 1px solid rgba(180, 186, 191, 1.00);
}
.user_score_area .score_detail {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 100%;
  vertical-align: top;
  padding: 2px 5px;
  border-left: 1px solid rgba(180, 186, 191, 1.00);
}
.user_score_area .score_detail .item {
  width: 100%;
  font-size: 10px;
}
.user_score_area .score_detail .item + .item {
  border-top: 1px solid rgba(180, 186, 191, 1.00);
}
.user_score_area .score_detail .item div[class*="col-md-"] {
  text-align: center;
  /*padding: -px !important;*/
}
.user_score_area .score_detail .item div[class*="col-md-"]:first-child {
  text-align: right;
}
.user_score_area .score_detail .item div[class*="col-md-"]:last-child {
  text-align: left;
}
.user_info {
  display: inline-block;
  border: 1px solid transparent;
  height: 40px;
  position: relative;
  text-align: left;
  vertical-align: top;
}
.user_feature_area_left {
  border: 1px solid transparent;
  height: 100%;
  position: relative;
  display: inline-block;
  width: 70px;
  vertical-align: top;
  padding-right: 10px !important;
  text-align: right;
}
.user_feature_area_right {
  border: 1px solid transparent;
  height: 100%;
  position: relative;
  display: inline-block;
  width: 829px;
  margin-left: 95px;
  vertical-align: top;
  padding-left: 10px !important;
}
.user_feature_area_left a,
.user_feature_area_right a {
  margin-top: 2px;
  position: relative;
  width: 33px;
  height: 33px;
  display: inline-block;
  font-size: 27px;
  color: rgba(53, 54, 57, 1.00);
  border: 1px solid rgba(53, 54, 57, 1.00);
  border-radius: 50%;
  padding: 2px;
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
     -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
          text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-transform: scale(1.0,1.0);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 100ms;

  -moz-transform: scale(1.0,1.0);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 100ms;
}
.user_feature_area_left a:hover,
.user_feature_area_right a:hover {
  color: rgba(33, 34, 37, 1.00);
  text-decoration: none;
  -webkit-transform: scale(1.1,1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;

  -moz-transform: scale(1.1,1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
.icon-user-delete,
.icon-user-add {
  cursor: pointer;
}
#pictures {
  position: relative;
  text-align: center;
  overflow: hidden;
}
.picture {
  position: absolute;
  width: 230px;
  margin: 10px;
  position: absolute;
  background-color: rgba(255, 255, 255, 1.00);
  border-radius: 3px;
  overflow: hidden;

  border: 1px solid rgba(210, 210, 210, 1.00);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05);
}
.picture:hover {
  border: 1px solid rgba(175, 175, 175, 1.00);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
     -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
          box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
}

.picture_pic {
  position: relative;
  top: 0px;
  left: 0px;
  /*border: 1px solid red;*/
  width: 100%;
  overflow: hidden;

}
.picture_not_pic {
  /*border: 1px solid red;*/
  position: relative;
  text-align: right;
  padding: 0px 3px 7px 3px;
}
.picture_user_name {
  display: inline-block;
  /*border: 1px solid red;*/
  width: 160px;
  text-align: left;

  overflow: hidden;
  text-overflow : ellipsis;
  white-space : nowrap;

  color: #555;
  vertical-align: top;
}
.picture_user_name a {
  color: #555;
}
.picture_text, .picture_info {
  /*border: 1px solid red;*/
  position: relative;
  top: 4px;
  vertical-align: top;
  text-align: left;
  overflow: hidden;
  text-overflow : ellipsis;
}
.picture_text {
  /*background: url(data:image/gif;base64,R0lGODlhAgACAIAAAP///8nJySH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0MjhCMDc2ODA2RDgxMUUyQTMzM0ExMUI2QUUxMTc4NyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0MjhCMDc2OTA2RDgxMUUyQTMzM0ExMUI2QUUxMTc4NyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQyOEIwNzY2MDZEODExRTJBMzMzQTExQjZBRTExNzg3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQyOEIwNzY3MDZEODExRTJBMzMzQTExQjZBRTExNzg3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAAAIAAgAAAgNMAAUAOw==) repeat-x left top;*/
  /*border: 1px solid red;*/
  padding: 5px 8px;
}
.picture_info {
  /*border: 1px solid red;*/
  font-size: 10px;
  background: url(data:image/gif;base64,R0lGODlhAgACAIAAAP///8nJySH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4zLWMwMTEgNjYuMTQ1NjYxLCAyMDEyLzAyLzA2LTE0OjU2OjI3ICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M2IChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo0MjhCMDc2ODA2RDgxMUUyQTMzM0ExMUI2QUUxMTc4NyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDo0MjhCMDc2OTA2RDgxMUUyQTMzM0ExMUI2QUUxMTc4NyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjQyOEIwNzY2MDZEODExRTJBMzMzQTExQjZBRTExNzg3IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQyOEIwNzY3MDZEODExRTJBMzMzQTExQjZBRTExNzg3Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+Af/+/fz7+vn49/b19PPy8fDv7u3s6+rp6Ofm5eTj4uHg397d3Nva2djX1tXU09LR0M/OzczLysnIx8bFxMPCwcC/vr28u7q5uLe2tbSzsrGwr66trKuqqainpqWko6KhoJ+enZybmpmYl5aVlJOSkZCPjo2Mi4qJiIeGhYSDgoGAf359fHt6eXh3dnV0c3JxcG9ubWxramloZ2ZlZGNiYWBfXl1cW1pZWFdWVVRTUlFQT05NTEtKSUhHRkVEQ0JBQD8+PTw7Ojk4NzY1NDMyMTAvLi0sKyopKCcmJSQjIiEgHx4dHBsaGRgXFhUUExIREA8ODQwLCgkIBwYFBAMCAQAAIfkEAAAAAAAsAAAAAAIAAgAAAgNMAAUAOw==) repeat-x left top;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
.picture_info div {

  overflow: hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}
.picture_info .left span {
  height: 100%;
  font-size: 14px;
  color: rgba(239, 173, 0, 1.0000);
  -webkit-text-shadow: 0px 0px 8px rgba(83, 90, 128, 0.175);
     -moz-text-shadow: 0px 0px 8px rgba(83, 90, 128, 0.175);
          text-shadow: 0px 0px 8px rgba(83, 90, 128, 0.175);
}
.picture_user_avatar {
  position: absolute;
  top: -28px;
  left: 10px;
  /*border: 1px solid rgba(145, 145, 145, 1.00);*/
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;

  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.picture_user_avatar:hover {
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4), inset 1px 1px 2px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4), inset 1px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4), inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}