.trans3d {
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform-style: preserve-3d;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform-style:preserve-3d;
  -ms-transform: translate3d(0, 0, 0);
  transform-style:preserve-3d;
  transform: translate3d(0, 0, 0);

  /*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;*/
}
#user_banner {
  margin: 20px auto 0px auto;
  position:relative;
  width:100%;
  height:350px;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(42, 42, 42, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
     -moz-box-shadow: 0px 0px 3px 2px rgba(42, 42, 42, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
          box-shadow: 0px 0px 3px 2px rgba(42, 42, 42, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
  border-radius: 2px;

}
.user_banner {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  border-radius: 2px;
  overflow: hidden;
  z-index: -1;
}
.user_banner_img {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.banner_filter {
  position:absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(42, 42, 42, 0.5);
  background: -webkit-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
     background: -moz-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
       background: -o-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
          background: linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
  
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: -999;
  border-radius: 2px;
}
#contentContainer {
  border-radius: 2px;
  position:relative;
  width:100%;
  height:100%;
  background-color: transparent;
  /*background: -webkit-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
     background: -moz-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
       background: -o-linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
          background: linear-gradient(rgba(42, 42, 42, 0), rgba(42, 42, 42, 0.8));
  */
  
}
#carouselContainer
{
  position:absolute;
  margin-left:-400px;
  margin-top:-500px;
  left:50%;
  top:50%;
  width:1000px;
  height:1000px;
}

.carouselItem
{
  width:320px;
  height:130px;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-160px;
  margin-top:-90px;
  visibility:hidden;
}

.carouselItemInner
{
  width:230px;
  height:230px;
  position:absolute;
  background-color:rgba(255, 255, 255, .75);
  border:1px solid rgba(255, 255, 255, .5);
  color:aqua;
  left:50%;
  top:80px;
  margin-left:-160px;
  margin-top:-100px;
  text-align:center;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
     -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);
          box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1), 0px 2px 1px 0px rgba(0, 0, 0, 0.175);

}
#user_avatar {
  position:absolute;
  bottom: -45px;
  left: 70px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  border-radius: 50%;
  border: 2px solid rgba(235, 235, 235, 1.00);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
  z-index: 9;
}
#user_avatar:hover {
  -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(0, 0, 0, 0.6);
}
#not_banner {
  position: relative;
  border: 1px solid transparent;
}
.left_area_col {
  position: relative;
  border: 1px solid transparent;
  overflow: visible !important;
}
.rigth_area_col {
  position: relative;
  border: 1px solid transparent;

}
.left_area_col:before {
  content: '';
  position: absolute;
  top: 0;
  left: 115px;
  height: 100%;
  width: 3px;
  background: rgba(180, 185, 190, 1.00);
  -webkit-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px 0px 2px rgba(255, 255, 255, .50);

}
#actives {
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
}
.active {
  border: 1px solid transparent;
  position: relative;
  top: -65px;
  vertical-align: top;
  text-align: left;
  font-size: 0px;
  padding: 3px 0px 10px 0px;
}
.user_feature {
  border: 1px solid transparent;
  top: -57px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  vertical-align: top;
  padding: 0px;
}
.user_feature_area_left {
  position: absolute;
  display: inline-block;
  border: 1px solid transparent;
  width: 68px;
  height: 100%;
  vertical-align: top;
  /*margin-right: 85px;*/
  top: 0px;
  left: 0px;
}
.user_feature_area_right {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  border: 1px solid transparent;
  width: 495px;
  height: 100%;
  line-height: 38px;
  vertical-align: top;
  font-size: 27px;

  text-align: left;
  padding-left: 10px !important;

  overflow: hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}
.user_feature_area_right a {
  width: 33px;
  height: 33px;
  display: inline-block;
  font-size: 27px;
  color: rgba(53, 54, 57, 1.00);
  border: 1px solid rgba(53, 54, 57, 1.00);
  border-radius: 50%;
  padding: 2px;
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
     -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
          text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
}
.user_feature_area_right a:hover {
  color: rgba(83, 84, 87, 1.00);
  text-decoration: none;
}
.user_info {
  /*border: 1px solid red;*/
  top: -47px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  vertical-align: top;
  padding: 0px;
}
.user_info_area_left {
  position: absolute;
  display: inline-block;
  border: 1px solid transparent;
  width: 68px;
  height: 100%;
  vertical-align: top;
  /*margin-right: 85px;*/
  top: 0px;
  left: 0px;
}
.user_info_area_right {
  position: absolute;
  top: 0px;
  right: 0px;
  display: inline-block;
  border: 1px solid transparent;
  width: 495px;
  height: 100%;
  vertical-align: top;
  font-size: 27px;
  color: #fff;

  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
     -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

  text-align: left;
  padding-left: 5px !important;

  overflow: hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
}
#end_point {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 23px;
  bottom: -13px;
  left: 104px;
  border-radius: 50%;

  border: 1px solid rgba(127, 10, 10, 1.00);

  cursor: pointer;
  vertical-align: middle;
  background-color: red;
  font-weight: bolder;
  padding: 0px;
  font-size: 16px;
  text-align: left;
  padding-left: 4px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
     -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);

  color: rgba(127, 10, 10, 1.00);
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
     -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
          text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
}

#end_point:hover {
  color: rgba(117, 0, 0, 1.00);
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
     -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
          text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);

  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
     -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
}
#end_point:active {
  color: rgba(110, 0, 0, 1.00);
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
     -moz-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
          text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.time_area {
  /*border: 1px solid red;*/
  display: inline-block;
  width: 101px;
  vertical-align: top;
  height: 30px;
  position: relative;
}
.time {
  position: relative;
  width: 100%;
  min-height: 100%;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid rgba(210, 210, 210, 1.00);

  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
          box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(0, 0, 0, 0.075);
  display: none;
  padding: 5px;
  font-size: 10px;
}
.time span {
  color: #888;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.time:after, .time:before {
  left: 100%;
  top: 15px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.time:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #fff;
  border-width: 5px;
  margin-top: -5px;
}
.time:before {
  border-color: rgba(245, 17, 17, 0);
  border-left-color: rgba(210, 210, 210, 1.00);
  border-width: 6px;
  margin-top: -6px;
}
.point_area {
  border: 1px solid transparent;
  display: inline-block;
  width: 30px;
  vertical-align: top;
  height: 30px;
  line-height: 36px;
  /*background-color: red;*/
  /*border-radius: 50%;*/
  text-align: center;
}
.point_area div {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin: auto;
  border-radius: 50%;
  background-color: rgba(255, 50, 50, 1.00);
  cursor: pointer;

  border: 1px solid rgba(212, 63, 58, 1.00);
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
     -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);
          box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.4);

}
.point_area div:hover {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
     -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.6);
}
.point_area div:active {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.content_area {
  display: inline-block;
  width: 520px;
  vertical-align: top;
  position: relative;
  border-radius: 3px;
  background-color: #fff;

  border: 1px solid rgba(210, 210, 210, 1.00);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.05);

}
.content_area:hover {
  border: 1px solid rgba(200, 200, 200, 1.00);
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);

}
.content_area:hover:before {
  border-right-color: rgba(180, 180, 180, 1.00);

}
.content_area:after, .content_area:before {
  right: 100%;
  top: 15px;
  border: 1px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.content_area:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: rgba(255, 255, 255, 1.00);
  border-width: 5px;
  margin-top: -5px;
}
.content_area:before {
  border-color: rgba(245, 17, 17, 0);
  border-right-color: rgba(210, 210, 210, 1.00);
  border-width: 6px;
  margin-top: -6px;
}
.content_panel {
  position: relative;
  /*border: 1px solid red;*/
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  padding: 5px;
}
.content_img_area {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 535px;
  border: 1px solid transparent;
  min-height: 50px;
  font-size: 0px;
  color: #333;
  margin: 3px auto;
  left: -14px;
  text-align: center;
  /*border-top: 1px solid rgba(234, 234, 234, 1.00);*/
  /*padding-top: 10px;*/
}
.content_img_area a + a {
  margin-left: 5px;
}
.content_img_area a:hover {
  text-decoration: none;
}
.content_img {
  display: inline-block;
  /*width: 534px;*/
  /*height: 534px;*/
  border: 1px solid rgba(229, 229, 229, 1.00);
  overflow: hidden;
  border-radius: 1px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  vertical-align: top;
  margin: auto;
}
.content_img:hover {
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.07,1.07);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 200ms;

  -moz-transform: scale(1.07,1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 200ms;
}
.content_unit_img {
  position: relative;
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  margin: 5px;
}
.content_unit_img:hover {
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1,1.1);
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;

  -moz-transform: scale(1.1,1.1);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}
.content_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 13px;
  padding: 2px 10px;
/*border: 1px solid red;*/
  overflow: hidden;
  word-wrap: break-word; 
  word-break: normal; 
}
.content_unit_imgs {
  position: relative;
  display: inline-block;
  /*width: 548px;*/
  /*left: -18px;*/
  width: 100%;
  /*border: 1px solid red;*/
}
.content_unit_imgs .content_unit_img {
  margin: 5px;
  width: 74px;
  height: 74px;
}
.content_text div[class*="col-md-"] {
/*border: 1px solid red;*/
  /*border: 1px solid red;*/
}
.content_text div[class*="col-md-"]:first-child {
  overflow: hidden;
  word-wrap: break-word; 
  word-break: normal; 
}
.content_text div[class*="col-md-"]:last-child {
  /*border: 1px solid red;*/
  text-align: right;
  overflow: hidden;
}